@charset "utf-8";

// animation
@mixin animation(
  $name,
  $duration: 1s,
  $timing-function: ease,
  $delay: 0s,
  $iteration-count: 1,
  $direction: normal,
  $fill-mode: forwards
) {
  animation: {
    name: $name;
    duration: $duration;
    timing-function: $timing-function;
    delay: $delay;
    iteration-count: $iteration-count;
    direction: $direction;
    fill-mode: $fill-mode;
  }
}

// style
@mixin outline-button($width, $height){
  width: $width;
  height: $height;
  background: $white;
  border: 2px solid $black;
  color: $black;
  font-weight: bold;
}