@charset "utf-8";

#main-layout{
  position: relative;
  padding-right: 70px;

  .main-layout-text-wrap{
    position: fixed;
    right: 70px;
    top: 30px;

    .main-layout-text{
      color: #2F2F2F;
      font-size: 14px;
      font-weight: bold;
    }
  }

  .main-layout-phrase-wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -10%);
    color: $black;
    font-size: 32px;
    font-weight: bold;
  }

  // アニメーション
  .dropping{

    & .char{
      display: inline-block;

      @include animation(
        $name: kf-animate-chars,
        $duration: .5s,
        $timing-function: cubic-bezier(0.39, 1.57, 0.58, 1),
        $fill-mode: both
      );

      @for $i from 1 through 34 {
          &:nth-child(#{$i}) {
              animation-delay: $i * 0.04s;
          }
      }

    }
  }

  @keyframes kf-animate-chars{

    0%{
      opacity: 0;
      transform: translateY(-70%);
    }

    100%{
      opacity: 1;
      transform: translateY(0);
    }
  }
  // 

  .main-layout-index{
    width: 60%;
    height: 100vh;
  }
  .background-img{
    background-image: url(../img/mainLayout/vintage-image.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom;
  }

  .logo-img{
    background-image: url(../img/sideBar/vintage-logo-font.png);
    width: 50%;
    height: 20%;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(270deg) translate(-40%, -140%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  // side bar
  .side-bar-wrap{
    // position: absolute;
    // top: 0;
    // left: 0;
    // z-index: 2;
    // height: 100%;
    // width: 100%;
  }
}

